<style>
  /* https://www.joshwcomeau.com/shadow-palette/ */
  :root {
  --shadow-color: 231deg 14% 61%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}
  a.button {
    box-shadow: var(--shadow-elevation-medium);
  }
</style>


<div class="call">
  {{ if site.Data }}
  <div class="call-box-top">
    {{ $data := index site.Data site.Language.Lang }}
    {{ if $data.contact.phone }}
        <div class="call-phone">
        <!-- <strong>Phone: </strong> -->
        📞
      {{ range $index, $phone := $data.contact.phone }}
          {{ if not (eq $index 0) }}
            <strong>/</strong>
          {{ end }}
          <a href="tel:{{$phone | plainify}}">{{ $phone | safeHTML | markdownify }}</a>
        {{ end }}
        </div>
    {{ end }}
    {{ if $data.contact.email }}
    <div class="call-email">
      <!-- <strong>Email: </strong> -->
      📧
      <a href="mailto:{{ $data.contact.email }}">
        {{ $data.contact.email }}
      </a>
    </div>
    {{ end }}
  </div>
    {{ if eq .show_button "true" }}
      <div class="call-box-bottom">
        <a href="{{ $data.contact.contact_button_link }}" class="button">{{ $data.contact.call_to_action }}</a>
      </div>
    {{ end }}
</div>
{{ end }}
